body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* fonts */
h1, h2, h3 {
    font-family: 'Comfortaa', cursive;
}

p {
    font-family: 'Helvetica';
}

a {
    text-decoration: none;
    color: blue;
}

/* Rounded images */
.rounded {
    object-fit: cover;
    border-radius: 50%;
}

/* Navigation Bar */

nav {
    position: fixed;
    top: 0px;
    left: 0px;    
    width: 100%;
    height: 50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    background-color: white;
}

nav h1 {
    margin-left: 15px;
    padding-top: 5px;
}

nav section {
    padding: 5px;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 0px;
    font-size: 12px;
}

li {
    margin: 10px;
}

/* Main content */

.main {
    background-color: rgb(216, 216, 216);
    z-index: 0;
    top: 50px;
    position: relative;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

#feed {
    position: relative;
    min-width: 450px;
    width: 55%;
    padding: 20px 20px 20px 50px;
}

/* Stories Pane */

#stories {
    height: 40px;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.story.story {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 60px;
    margin-left: 5px;
    font-size: 10px;
}

.story img {
    width: 50px;
    height: 50px; 
}

.story p {
    margin-top: 5px;
    color: gray;
}

/* Card */

#cards {
    margin-top: 20px; /* might delete this*/
}

#cards * {
    /* border: solid 1px black; */
}

.card {
    background-color: white;
    margin-bottom: 20px;
}

.user-card {
    display: flex;
    flex-direction: column;
}

.card-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    padding: 10px 10px;
}

.card-img img {
    width: 100%;
    height: auto;
}

.card-buttons {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin: 5px 10px 5px 5px;
}

.card-likes {
    font-weight: bold;
    font-size: 13px;
    height: 14px;
    display: flex;
    align-items: center;
    margin: -5px 5px 5px 5px;
}

.card-content {
    padding: 5px;
}

.comment {
    margin: 2px 5px;
}

.comment-user {
    font-weight: bold;
}

.comment * {
    display: inline;
    font-size: 12px;
}

.timestamp {
    font-size: 10px;
    color: gray;
    margin-left: 5px;
}
.card-interact, .card-interact * {
    /* border: solid black 1px; */
}

.card-interact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -5px;
    padding: 5px;
    border-top: solid rgb(216, 216, 216) 1px;
    font-size: 12px;
    align-items: center;
}

.card-interact a {
    margin: 10px;
}

.reaction {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
}

.reaction input {
    width: 80%;
    border: none;
}

.reaction * {
    margin: 5px;
}

/* Recommendations Panel  */

#recommendations {
    width: 250px;
    left: 63%;
    position: fixed;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-around;
}

#user-card {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin: 5px;
    font-size: 20px;
}

#user-card img {
    height: 55px;
    width: 55px;
    margin: 10px;
}

#suggestions {
    margin: 5px;
}

#suggestions h3 {
    margin: 5px;
    color: gray;
    font-family: 'Helvetica'
}

.recommendation-card {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    height: 40px;
    padding: 0px;
    margin: 5px;
}

.recommendation-card * {
    margin-right: 10px;
}

.recommendation-card img {
    height: 30px;
    width: 30px;
    margin: 5px;
}

.recommendation-card link {
    padding: 5px;
}

.recommended-username.recommended-username {
    height: 30px;
}

.recommended-username p {
    margin: 1px;
    font-size: 12px;
}

.username {
    font-weight: bold;
}

.suggested-for-you {
    color: gray;
}

.follow {
    color: blue;
    margin-left: auto;
    font-size: 12px;
    text-decoration: none;
}

/* Mobile devices */

@media (max-width: 768px) {
    #recommendations {
        display: none;
    }
}

/* for testing */

.main * {
    /* border: solid black 1px; */
}