<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo App</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    {% include 'includes/navbar.html'%}
    <section class="main">
        <div id="feed">
            {% include 'includes/stories.html' %}
            <section id="cards">
                <section class="card">
                    <div class="card-top">
                        <h3 class="card-user">sussybaka</h3>
                        <i class="fas fa-ellipsis-h"></i>
                    </div>
                    <div class="card-img">
                        <img src="https://cdn.cloudflare.steamstatic.com/steam/apps/945360/capsule_616x353.jpg?t=1646296970" alt="amogus">
                    </div>
                    <div class="card-buttons">
                        <div class="left">
                            <i class="far fa-heart"></i>
                            <i class="far fa-comment"></i>
                            <i class="far fa-paper-plane"></i>
                        </div>
                        <i class="far fa-bookmark"></i>
                    </div>
                    <div class="card-content">
                        <div class="card-likes">
                            <p>42 likes</p>
                        </div>
                        <!-- TODO: this is actually a description -->
                        <div class="comment">
                            <p class="comment-user">sussybaka</p>
                            <p class="comment-text">Here  is a caption about the photo. Text text text text text text text text text <a href="">more</a></p>
                        </div>
                        <div class="comment">
                            <p class="comment-user">blue</p>
                            <div class="comment-text">
                                <p>I saw red vent.</p>
                            </div>
                        </div>
                        <div class="comment">
                            <p class="comment-user">green</p>
                            <div class="comment-text">
                                <p>Red is definitely sus.</p>
                            </div>
                        </div>
                        <p class="timestamp">1 DAY AGO</p>
                    </div>
                    <div class="card-interact">
                        <div class="reaction">
                            <i class="far fa-smile"></i>
                            <input type="text" placeholder="Add a comment...">
                        </div>
                        <a href="">Post</a>
                    </div>
                </section>

                <section class="card">
                    <div class="card-top">
                        <h3 class="card-user">sussybaka</h3>
                        <i class="fas fa-ellipsis-h"></i>
                    </div>
                    <div class="card-img">
                        <img src="https://cdn.cloudflare.steamstatic.com/steam/apps/945360/capsule_616x353.jpg?t=1646296970" alt="amogus">
                    </div>
                    <div class="card-buttons">
                        <div class="left">
                            <i class="far fa-heart"></i>
                            <i class="far fa-comment"></i>
                            <i class="far fa-paper-plane"></i>
                        </div>
                        <i class="far fa-bookmark"></i>
                    </div>
                    <div class="card-content">
                        <div class="card-likes">
                            <p>69 likes</p>
                        </div>
                        <!-- TODO: this is actually a description -->
                        <div class="comment">
                            <p class="comment-user">sussybaka</p>
                            <p class="comment-text">Here  is a caption about the photo. Text text text text text text text text text <a href="">more</a></p>
                        </div>
                        <div class="comment">
                            <p class="comment-user">blue</p>
                            <div class="comment-text">
                                <p>I saw red vent.</p>
                            </div>
                        </div>
                        <div class="comment">
                            <p class="comment-user">green</p>
                            <div class="comment-text">
                                <p>Red is definitely sus.</p>
                            </div>
                        </div>
                        <p class="timestamp">1 DAY AGO</p>
                    </div>
                    <div class="card-interact">
                        <div class="reaction">
                            <i class="far fa-smile"></i>
                            <input type="text" placeholder="Add a comment...">
                        </div>
                        <a href="">Post</a>
                    </div>
                </section>

                <section class="card">
                    <div class="card-top">
                        <h3 class="card-user">sussybaka</h3>
                        <i class="fas fa-ellipsis-h"></i>
                    </div>
                    <div class="card-img">
                        <img src="https://cdn.cloudflare.steamstatic.com/steam/apps/945360/capsule_616x353.jpg?t=1646296970" alt="amogus">
                    </div>
                    <div class="card-buttons">
                        <div class="left">
                            <i class="far fa-heart"></i>
                            <i class="far fa-comment"></i>
                            <i class="far fa-paper-plane"></i>
                        </div>
                        <i class="far fa-bookmark"></i>
                    </div>
                    <div class="card-content">
                        <div class="card-likes">
                            <p>69 likes</p>
                        </div>
                        <!-- TODO: this is actually a description -->
                        <div class="comment">
                            <p class="comment-user">sussybaka</p>
                            <p class="comment-text">Here  is a caption about the photo. Text text text text text text text text text <a href="amogus">more</a></p>
                        </div>
                        <div class="comment">
                            <p class="comment-user">blue</p>
                            <div class="comment-text">
                                <p>I saw red vent.</p>
                            </div>
                        </div>
                        <div class="comment">
                            <p class="comment-user">green</p>
                            <div class="comment-text">
                                <p>Red is definitely sus.</p>
                            </div>
                        </div>
                        <p class="timestamp">1 DAY AGO</p>
                    </div>
                    <div class="card-interact">
                        <div class="reaction">
                            <i class="far fa-smile"></i>
                            <input type="text" placeholder="Add a comment...">
                        </div>
                        <a href="">Post</a>
                    </div>
                </section>
            </section>
        </div>
        {% include 'includes/suggestions.html' %}
    </section>
</body>
</html>

<!-- To add a feature so that users can add alt-text to their image, I would
     add an option under the card menu that displays a text input object in which
     the user can add alt-text.
-->
